.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  // .grid__item {
    
  //   @media screen and (min-width: 480px) {
  //     width: 450px;
  //     border: 1px solid #eeeeee;
  //   }

  //   @media screen and (min-width: 768px) {
  //     width: calc((100% / 2) - 45px);
  //     margin: 15px;
  //   }
  // }
  
  .grid__item:hover,
  .grid__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
      
  }
  
  .grid__link {
    display: block;
  }
  
  
  .control {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 8px;
}

// .control__item {
// @media screen and(max-width:767px) {
//   &:nth-child(-n + 3) {
//     margin-bottom: 15px;
//   }
// }
// }



  // ховер картки 

.grid__subtitle {
  position: absolute;
  padding: 62px 24px;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: $light-color;
  transform: translateY(0%);
  transition: transform 250ms $transform-function;
}

.grid__item:hover .grid__subtitle {
  transform: translateY(-100%);
}

.grid__thumb {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

// sdfdsfds

.product {
  padding: 20px 24px;
}

.product__title {
  color: $secondary-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.product__text {
  color: $primary-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.box {
  width: 370px;
  height: 404px;
  background-color: $light-color;
}
