.container-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section-client__list {
display: flex;
    flex-wrap: wrap;
    gap: 15px;

    @media screen and (min-width: 480px) {
 
    }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    // margin-bottom: 60px;
  }
}

 .section-client__list {
  @media screen and (min-width: 1200px) {
    gap: 30px;
  display: flex;
  }
 
}

.section-client__item {

  @media screen and (max-width: 767px) {
    // width: 210px;
    width: calc((100% / 2) - 45px);
    margin: 15px;

  }

  @media screen and (min-width: 768px) {
    width: calc((100% / 3) - 45px);
    // width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
width: 170px;
margin: 0;
}
}

.section-client__link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $icon-color;
  transition: border-color 250ms $transform-function,
    color 250ms $transform-function;
}

.section-client__link:hover,
.section-client__link:focus {
  border-color: $accent-color;
  color: $accent-color;
}

.section-client__icon {
  fill: currentColor;
}

.section.section-client {
  @media screen and (min-width: 1200px) {
padding-top: 94px;
  }
  
}