.fiatures-section__list {
  padding-top: 60px;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 30px;

    // @media screen and (min-width: 768px) {
    //   display: flex;
    //   flex-wrap: wrap;
    //   // gap: 30px;
    //   margin: -15px;
    //   // margin-top: 60px;
    // }

    @media screen and (min-width: 768px) {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
       flex-wrap: wrap;
       gap: 30px;
       }
  }
  

//   .fiatures-section__list .fiatures-section__item {
//      @media screen and (min-width: 480px) {
//       width: 450px;
//       margin-top: 60px;
//   }

//   @media screen and (min-width: 480px) {
//    width: calc((100% - 4 * 15px) / 2);
//    margin: 15px;
// }
//   }
 



  .fiatures-section__list .fiatures-section__item {

    @media screen and (min-width: 768px) {
      width: calc((100% / 2) - 45px);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      margin: 0;
width: 270px;
   }
    
  }
  
  .fiatures-block__title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: $secondary-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;

    @media screen and(max-width:767px) {
  text-align:center;
  width: 450px;
    }

    @media screen and(min-width:768px) {
      text-align:start;
      width: 350px;
        }

        @media screen and(min-width:1200px) {
          text-align:start;
          width: 270px;
            }
  }
  
  .fiatures-block__text {
    margin-top: 0px;
    color: $primary-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    @media screen and(min-width:480px) {
      width: 450px;
        }

        @media screen and(min-width:768px) {
          width: 360px;
            }

            @media screen and(min-width:1200px) {
              width: 270px;
                }
  }
  
  .fiatures-block {
    background-color: $background-section;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and(max-width:767px) {
      // width: 450px;
      width: 100%;
    }

    @media screen and(min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      // margin: -15px;
      width: 344px;
    }

    @media screen and(min-width:1200px) {
      display: flex;
      flex-wrap: wrap;
      // margin: -15px;
      width: 270px;
    }
  }