.header {
  position: relative;
    border: none;
    border-bottom: 1px solid #ececec;
    margin: 0 auto;
    border: 1px solid #ececec;
  }

  .header__container {
    // @media screen and(min-width:480px) {
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    // }

    @media screen and(min-width:768px) {
      display: flex;
      align-items: center;
    }

    @media screen and(min-width:1200px) {
      display: flex;
  justify-content: flex-end;
    }
  }
  
  .logo {
    color: $accent-color;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and(max-width:767px) {
      padding-top: 10px;
      padding-bottom: 10px;
          }

    @media screen and(min-width:480px) {
font-weight: 700;
font-size: 24px;
line-height: calc(28 / 24);
letter-spacing: 0.03em;
    }
  }
  
  .logo__dark {
    color: $dark-color;
  }

  .site-nav__button {
    
    margin: 0;
padding: 0;
border: none;
background-color: $light-color;

@media screen and(min-width:480px) {
 
}

@media screen and(min-width:767px) {
  display: none;
}
  }

  .site-nav__button-close {
    display: flex;
    justify-content: flex-end;

    @media screen and(min-width:767px) {
      display: none;
    }
  }

  .site-nav__button-close {
    position: absolute;
    top: 5px;
    right: 15px;
  }



  .site-nav__button .site-nav__cross {
    display: none;
  }

  .site-nav__button.is-open .site-nav__cross {
    display: block;
  }

  .site-nav__button.is-open .site-nav__menu {
    display: none;

  }

  .menu-container {
    height: 796px;
    
    // background-color: rgb(196, 169, 169);
    background-color: $light-color;
    padding: 20px;
    text-align: center;

    @media screen and(max-width:767px) {
    text-align: left;
    }

    &.is-open {
      display: block;
      @media screen and(min-width:768px) {
        display: flex;
      }
    }

    @media screen and(max-width:767px) {
      display: none;
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    }

    @media screen and(min-width:768px) {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

  }

  

  .contacts__link {
    color: $primary-color;
    text-decoration: none;
    font-weight: 500;
    font-size: $primary-font-size;
    line-height: calc(16 / 14);
    fill: currentColor;
    display: flex;
    align-items: center;
    transition: color 250ms $transform-function;

    @media screen and(min-width:768px) {
      margin-top: 10px;
      font-weight: 500;
font-size: 12px;
line-height: calc(14 / 12);
letter-spacing: 0.02em;
    }

    @media screen and(max-width:767px) {
      margin-top: 32px;
      font-weight: 500;
      font-size: 24px;
      line-height: calc(28 / 24);
      letter-spacing: 0.02em;

      &:hover {
        font-weight: 500;
font-size: 34px;
line-height: calc(40 / 34);
letter-spacing: 0.02em;
      }

      &:focus {
        font-weight: 500;
font-size: 34px;
line-height: calc(40 / 34);
letter-spacing: 0.02em;
      }
    }

    @media screen and(min-width:1200px) {
    margin-left: 0;
    }
  }
  
  .contacts__link:hover,
  .contacts__link:focus {
    color: $accent-color;
  }
  
  .address__link:hover,
  .address__link:focus {
    color: $accent-color;
    transition: transform 250ms $transform-function;
  }
  
  /* svg */
  
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;

    @media screen and(max-width:767px) {
     display: none;
      }
  }
  
  .address-link:hover,
  .address-link:focus {
    color: $accent-color;
  }
  
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .site-nav__list .site-nav__link.current {
    color: $accent-color;
  }
  
  .list-icon {
    display: flex;
  }
  
  .site-nav {
    @media screen and(max-width:767px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media screen and(min-width:768px) {
      display: flex;

      align-items: center;
    }
  }
  
  /* Студія, Портфоліо, Контакти */
  
  .site-nav__list .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: $secondary-color;
    font-weight: 500;
    font-size: $primary-font-size;
    line-height: calc(16 / 14);
    text-decoration: none;
  
    transition: transform 250ms $transform-function;

    @media screen and(max-width:767px) {
      font-size: 40px;
      padding: 0;
      // margin-bottom: 35px;
      margin-top: 35px;
    }

@media screen and(min-width:768px) {
  font-size: $primary-font-size;
  padding-top: 32px;
  padding-bottom: 32px;
    }
  }
  
  .site-nav__item {
    // margin-right: 50px;
    @media screen and(min-width:480px) {
      text-align: left;
    }
  }
  
  .site-nav__item:last-child {
    margin-right: 0;
  }
  
  .contacts__item {
    display: block;
    margin-left: 50px;

    @media screen and(max-width:767px) {
      margin-left: 0px;
    }

    @media screen and(min-width:768px) {
      margin-left: 96px;
    }
    

    @media screen and(min-width:1200px) {
      margin-left: 30px;
    }
  }
  
  .site-nav__list {
    @media screen and(min-width:768px) {
      display: flex;
      align-items: center;
      margin-left: 92px;
      gap: 50px;
    }

    @media screen and(min-width:1200px) {
      display: flex;
      align-items: center;
      margin-left: 95px;
      margin-right: 315px;
      gap: 50px;
    }
  }
  
  .contacts {
    @media screen and(min-width:768px) {
      margin-left: 26px;
      margin-left: auto;
    }

    @media screen and(min-width:1200px) {
      display: flex;
      margin-left: auto;
      // margin-left: 315px;
    
    }
   
  }
  
  .contacts-mobile {
    @media screen and(max-width:767px) {
      margin-top: 300px;
    }
   
  }

  .site-nav__link:hover,
  .site-nav__link:focus {
    color: $accent-color;
    transition: color 250ms $transform-function;
  }

  /* ховер та підкреслення для cторінок Студія Портфоліо Контакти */

.site-nav__link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;
  background-color: $accent-color;

  opacity: 0;
  transition: opacity;
  border-radius: 2px;

  transition: transform 250ms $transform-function;
}

.site-nav__link {
  position: relative;
}

.site-nav__link:hover::after,
.site-nav__link:focus::after,
.site-nav__link:active::after {
  opacity: 1;

  @media screen and(max-width:768px) {
    opacity: 0;
  }
}


.socials-mobile {
display: flex;
justify-content: space-evenly;
margin-right: 40px;
margin-top: 64px;


@media screen and(min-width:768px) {
  display: none;
}
}

.socials-mobile__link {
color: $accent-color;
text-decoration: none;
gap: 30px;
margin-right: 10px;

font-weight: 500;
font-size: 18px;
line-height: calc(22 / 18);
letter-spacing: 0.02em;
}

.socials-mobile__item {

  border-right: 1px solid rgba(33, 33, 33, 0.2);
  

  &:nth-child(n + 4) {
 border: none;
  }
  }