.header {
    border: none;
    border-bottom: 1px solid #ececec;
    margin: 0 auto;
    border: 1px solid #ececec;
  }

  .header__container {
    @media screen and(min-width:768px) {
      display: flex;
      align-items: center;
    }
  }
  
  .logo {
    color: $accent-color;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  
  .logo__dark {
    color: $dark-color;
  }

  .contacts__link {
    color: $primary-color;
    text-decoration: none;
    font-weight: 500;
    font-size: $primary-font-size;
    line-height: calc(16 / 14);
    fill: currentColor;
    display: flex;
    align-items: center;
    transition: color 250ms $transform-function;

    @media screen and(min-width:768px) {
      margin-top: 10px;
      font-weight: 500;
font-size: 12px;
line-height: calc(14 / 12);
letter-spacing: 0.02em;
    }
  }
  
  .contacts__link:hover,
  .contacts__link:focus {
    color: $accent-color;
  }
  
  .address__link:hover,
  .address__link:focus {
    color: $accent-color;
    transition: transform 250ms $transform-function;
  }
  
  /* svg */
  
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  
  .address-link:hover,
  .address-link:focus {
    color: $accent-color;
  }
  
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .site-nav__list .site-nav__link.current {
    color: $accent-color;
  }
  
  .list-icon {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .site-nav {
    @media screen and(min-width:768px) {
      display: flex;
      align-items: center;
    }
  }
  
  /* Студія, Портфоліо, Контакти */
  
  .site-nav__list .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: $secondary-color;
    font-weight: 500;
    font-size: $primary-font-size;
    line-height: calc(16 / 14);
    text-decoration: none;
  
    transition: transform 250ms $transform-function;
  }
  
  .site-nav__item {
    margin-right: 50px;
  }
  
  .site-nav__item:last-child {
    margin-right: 0;
  }
  
  .contacts__item {
    display: block;
    margin-left: 50px;
  }
  
  .site-nav__list {
    @media screen and(min-width:768px) {
      display: flex;
      align-items: center;
      margin-left: 87px;
    }
  }
  
  .contacts {
    @media screen and(min-width:768px) {
      margin-left: 26px;
      margin-left: auto;
    }

    @media screen and(min-width:1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
    }
    // display: flex;
    // margin-left: auto;
  }
  
  .site-nav__link:hover,
  .site-nav__link:focus {
    color: $accent-color;
    transition: color 250ms $transform-function;
  }

  /* ховер та підкреслення для cторінок Студія Портфоліо Контакти */

.site-nav__link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;
  background-color: $accent-color;

  opacity: 0;
  transition: opacity;
  border-radius: 2px;

  transition: transform 250ms $transform-function;
}

.site-nav__link {
  position: relative;
}

.site-nav__link:hover::after,
.site-nav__link:focus::after,
.site-nav__link:active::after {
  opacity: 1;
}
