.section-team {
    background-color: $background-section;

    @media screen and (max-width: 1200px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
      padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      padding-bottom: 94px;
    }
  }




  .card-set__list {
    display: flex;
      flex-wrap: wrap;
      gap: 30px;
      
      // @media screen and (min-width: 768px) {
      //  padding-bottom: 60px;
      // }
  }




  
  .card-set__list {
    @media screen and(min-width:1200px) {
       display: flex;
    gap: 30px;
    }
 
  }
  
  .card-set__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

      @media screen and(min-width:480px) {
        width: 450px;
      }

      @media screen and (min-width: 768px) {
        width: calc((100% / 2) - 45px);
        margin: 15px;
      }

      &:last-child {
        @media screen and (max-width: 767px) {
          margin-bottom: 0;
        }
      }

      @media screen and(min-width:1200px) {
        width: 270px;
        margin: 0;
      }

  }
  
  .team-card {
    background-color: $light-color;
    padding: 30px;
    border-radius: 0px 0px 4px 4px;
  }
  
  
  
  .team-card__title {
    margin: 0px;
    color: $secondary-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    /* margin-top: 30px; */
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
  }
  
  .team-card__text {
    color: $primary-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .socials__link:hover,
  .socials__link:focus {
    background-color: $accent-color;
    fill: $light-color;
  }
  
  .socials__link {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $icon-color;
    transition: background-color 250ms $transform-function,
      fill 250ms $transform-function;
  }
  
  .socials__item {
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }