h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  font-family: Roboto;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: $primary-color;
  background-color: $light-color;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.section {
  // padding: 94px 0px;
  @media screen and (max-width: 767px) {
  //  padding: 0;
   padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  //  padding: 0;
   padding-bottom: 60px;
}

 @media screen and (min-width: 1200px) {
  padding: 94px 0px;
}

}

textarea {
  resize: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
    // margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  color: $secondary-color;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
      }
}